<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Mis Servicios</h2>

  <ion-card *ngFor="let servicio of servicios">
    <ion-card-header>
      <ion-card-title>{{ servicio.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Modalidad: {{ servicio.modalidad }}</p>
      <p>Precio: ${{ servicio.precio }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="agregarServicio()">Agregar Servicio</ion-button>

  <h2 class="ion-margin-top">Mis Productos</h2>

  <ion-card *ngFor="let producto of productos">
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Precio: ${{ producto.precio }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="agregarProducto()">Agregar Producto</ion-button>
</ion-content>

