<ion-card>
  <ion-card-header>
    <ion-card-title>Especies atendidas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none" *ngIf="species.length > 0; else emptySpecies">
      <ion-item *ngFor="let specie of species">
        <ion-icon slot="start" [icon]="pawOutline"></ion-icon>
        <ion-label>
          <h3>{{ specie }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <ng-template #emptySpecies>
      <p class="empty-message">
        Selecciona las especies que atiendes para que tus clientes sepan si puedes ayudarles.
      </p>
      <ion-button expand="block" color="primary">
        <ion-icon slot="start" [icon]="settingsOutline"></ion-icon>
        Configurar especies
      </ion-button>
    </ng-template>
  </ion-card-content>
</ion-card>
